# Ignorar carpeta de compilación
build/
build-tests/

# Archivos generados por CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

#no ignorar el cmake
#*.cmake

# Archivos de salida binarios
*.elf
*.bin
*.hex
*.map

# Archivos de depuración
*.d
*.o
*.lst

# Archivos de configuración de IDE
*.launch
*.settings/
*.project
*.cproject

# Configuración local de Visual Studio Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos de usuario de STM32CubeMX
*.mxproject

